.aboutMe {
	grid-column: void-left-end / void-right-start;

	&__container {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(2, 1fr);
		height: 100%;
		align-items: center;
		justify-items: center;

		&--blogposts {
			width: 85%;
			height: 75%;
			background: linear-gradient(to right, rgba(243, 240, 240, 0.9), rgba(188, 188, 199, 0.9)),
				url("assets/images/blogposts.jpg") no-repeat;
			background-size: cover;
			border: .1rem solid rgba(36, 35, 35, 0.1);
			box-shadow: .1rem .1rem .1rem rgba(15, 13, 13, 0.2);

			display: grid;
			grid-template-rows: 3fr 1fr 1fr 1fr;

			&-message {
				margin: 15px;
				background-color: rgba(0, 0, 0, .65);
				color: rgba(255, 255, 255, .8);
				text-transform: uppercase;
				font-size: 2rem;
				padding: 10px;
			}
		}

		&--introduction {
			width: 85%;
			height: 75%;
			background: linear-gradient(to right, rgba(190, 86, 1, 0.9), rgba(236, 164, 7, 0.9)),
				url("assets/images/about.jpg") no-repeat;
			background-size: cover;
			border-radius: 50%;
			position: relative;

			&-about {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 60%;
				height: 70%;
				background-color: rgba(243, 199, 4, 0.2);
				z-index: 1;
				padding: 1rem;
				font-size: 2rem;
				color: #fff;
			}
		}
	}
}
