.aboutMe {
	grid-column: void-left-end / void-right-start;

	&__container {
		width: 80%;
		height: 100%;
		margin: 0 auto;

		&__group {
			display: flex;
			justify-content: space-around;
			width: 100%;
			height: 40%;

			.reveal-animation {
				&:nth-of-type(1) {
					animation: SlideInFromRight .8s linear;
				}

				&:nth-of-type(2) {
					animation: SlideInFromRight 1s 0.1s linear;
				}

				&:nth-of-type(3) {
					animation: SlideInFromRight 1.2s 0.1s linear;
				}

				&:nth-of-type(4) {
					animation: SlideInFromRight 1.5s 0.1s linear;
				}
			}

			&--element {
				width: 15%;
				display: grid;
				grid-template-rows: 4fr 1fr 1fr;

				&__icon {
					background: linear-gradient(to right, #44a08d, #093637);
					clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
					display: flex;
					align-items: center;
					justify-content: center;

					.aboutMe__icon {
						width: 10rem;
						height: 10rem;
						fill: rgba(255, 255, 255, .9);
					}
				}

				&__text {
					font-family: Arial, Helvetica, sans-serif;
					justify-self: center;
					text-transform: uppercase;
					font-size: 2.2rem;
					padding-top: 1rem;
					color: #44a08d;
					font-weight: 300;
				}

				&__description {
					font-family: Arial, Helvetica, sans-serif;
					justify-self: center;
					text-align: center;
					text-transform: uppercase;
					font-size: 1.1rem;
					color: rgba(0, 0, 0, .7);
				}
			}
		}

		&__introduction {
			margin: 10rem;
			height: 60%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			font-family: 'Montserrat Alternates', sans-serif;
			position: relative;

			.introduction-background {
				position: absolute;
				top: 0;
				left: -25%;
				width: 100vw;
				height: 100%;
				background-color: rgba(0, 0, 0, .02);
				z-index: -1;
			}

			&--personal {
				padding: 5rem;
				font-size: 1.6rem;
				letter-spacing: .1rem;
				text-align: center;

				display: grid;
				justify-items: center;

				.reveal-photo-animation {
					.white-photo-bg {
						width: 20rem;
						height: 20rem;
						background-color: #fff;
						position: absolute;
						z-index: -1;
						border-radius: 50%;
						animation: ScaleUp 1s linear;
					}

					img {
						animation: SlideInFromLeft 1s linear;
					}
				}

				.profile-photo {
					width: 20rem;
					height: 20rem;
					margin-bottom: 1.5rem;
					position: relative;

					&:hover,
					&:focus {
						figcaption {
							opacity: 1;
							visibility: visible;
							transform: translate(-50%, -50%);
						}

						img {
							filter: blur(.3rem) brightness(80%);
						}
					}

					img {
						max-width: 100%;
						border-radius: 50%;
						box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .2);
						transition: all .5s;
						backface-visibility: hidden;
						overflow: hidden;
					}

					figcaption {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -20%);
						color: #fff;
						font-weight: 400;
						opacity: 0;
						visibility: hidden;
						transition: all .5s;
					}
				}
			}

			&--skillset {
				display: grid;
				position: relative;

				&__icons {
					display: flex;
					align-items: center;
					justify-content: space-evenly;

					.aboutMe__semiicon {
						width: 9rem;
						height: 9rem;
					}
				}
			}

			&--bottom-message {
				position: absolute;
				right: 0;
				bottom: 30%;
			}
		}
	}
}
