.aboutMe {
	grid-row: 2 / 3;
	grid-column: 1 / -1;
	background-color: white;

	&__container {
		width: 80%;
		height: 100%;
		margin: 0 auto;

		&__group {
			display: flex;
			justify-content: space-around;
			width: 100%;
			height: 40%;

			.reveal-animation {
				&:nth-of-type(1) {
					animation: SlideInFromRight .8s linear;
				}

				&:nth-of-type(2) {
					animation: SlideInFromRight 1s 0.1s linear;
				}

				&:nth-of-type(3) {
					animation: SlideInFromRight 1.2s 0.1s linear;
				}

				&:nth-of-type(4) {
					animation: SlideInFromRight 1.5s 0.1s linear;
				}
			}

			&--element {
				width: 15%;
				display: grid;
				grid-template-rows: 4fr 1fr 1fr;

				&__icon {
					background: linear-gradient(to right, #44a08d, #093637);
					clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
					display: flex;
					align-items: center;
					justify-content: center;

					.aboutMe__icon {
						width: 10rem;
						height: 10rem;
						fill: rgba(255, 255, 255, .9);
					}
				}

				&__text {
					font-family: Arial, Helvetica, sans-serif;
					justify-self: center;
					text-transform: uppercase;
					font-size: 2.2rem;
					padding-top: 1rem;
					color: #44a08d;
					font-weight: 300;
				}

				&__description {
					font-family: Arial, Helvetica, sans-serif;
					justify-self: center;
					text-align: center;
					text-transform: uppercase;
					font-size: 1.1rem;
					color: rgba(0, 0, 0, .9);
				}
			}
		}

		&__introduction {
			margin: 10rem;
			margin-top: 20rem;
			height: 60vh;
			display: grid;
			position: relative;

			.introduction-background {
				position: absolute;
				top: 0;
				left: -26rem;
				width: 100vw;
				height: 75vh;
				background-color: rgba(0, 0, 0, .02);
				border-top: 1rem solid #228b22;
				z-index: 0;
			}

			&--personal {
				padding: 5rem;
				font-size: 1.6rem;
				letter-spacing: .1rem;
				text-align: center;
				position: relative;
				display: grid;
				justify-items: center;

				.profile-photo {
					top: -18rem;
					width: 32rem;
					height: 32rem;
					margin-bottom: 1.5rem;
					position: absolute;
					z-index: 2;

					&:hover,
					&:focus {
						img {
							filter: grayscale(0);
						}
					}

					img {
						max-width: 100%;
						filter: grayscale(.2);
						transition: filter .2s;
					}
				}

				.profile-paragraph {
					font-family: 'Montserrat Alternates', sans-serif;
					grid-row: 2 / 3;
					position: relative;
					font-weight: 200;
					display: flex;
					color: rgba(34, 139, 34, 1);
					margin-top: 10rem;
					align-items: center;
					padding: 1rem;
					padding-bottom: 2rem;
					background: linear-gradient(to bottom, transparent 0%, white 40%);
					background-size: cover;
					border-bottom: 1px dashed rgba(34, 139, 34, .4);

					&:after {
						content: "";
						background-color: rgba(255, 255, 255, .3);
						position: absolute;
						top: -3rem;
						left: 0;
						width: 100%;
						height: 3rem;
					}
				}
			}

			&--skillset {
				display: grid;
				position: relative;

				.reveal-icon-animation {
					svg:nth-of-type(1) {
						animation: zoomInDown 1.7s;
					}

					svg:nth-of-type(2) {
						animation: zoomInDown 2.5s;
					}

					svg:nth-of-type(3) {
						animation: zoomInDown 2.9s;
					}

					svg:nth-of-type(4) {
						animation: zoomInDown 3.3s;
					}

					svg:nth-of-type(5) {
						animation: zoomInDown 3.8s;
					}
				}

				&__icons {
					display: flex;
					align-items: center;
					justify-content: space-evenly;

					.aboutMe__semiicon {
						width: 9rem;
						height: 9rem;
						transition: all .3s ease-in-out;

						&:hover {
							transform: translateY(-1rem);
						}
					}
				}
			}

			&--bottom-message {
				position: absolute;
				right: 5rem;
				bottom: -2rem;
				color: rgba(0, 0, 0, .7);
			}
		}
	}
}
