.mixitup__container {
	margin-top: 5rem;
}

.mixitup {
	display: grid;
	overflow: hidden;
	justify-content: center;
	align-content: center;
	background-color: white;
	min-height: 50vh;
	backface-visibility: hidden;

	@media only screen and (min-width: 900px) {
		grid-template-columns: repeat(auto-fit, 40rem);
	}
}

#filters {
	margin: 6rem 0;
	padding: 2rem;
	list-style: none;
	font-size: 1.6rem;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	display: grid;
	grid-template-columns: 1fr repeat(3, 1fr);
	grid-row-gap: 3rem;

	@media only screen and (min-width: 650px) {
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 0;
	}

	@media only screen and (min-width: 900px) {
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 2rem;
	}

	li {
		float: left;
		flex-direction: column;

		&:not(:last-child) {
			border-right: 1px dashed rgba(255, 255, 255, .1);
		}

		&:first-child {
			border: 1px solid rgba(255, 255, 255, .1);
			border-right: none;
		}

		span {
			display: block;
			padding: .7rem 3rem;
			margin: 0 1rem;
			text-decoration: none;
			color: rgba(255, 255, 255, .7);
			cursor: pointer;
			transition: color 0s, all .6s cubic-bezier(0.645, 0.045, 0.355, 1);
			border-bottom: 2px solid transparent;

			&:hover:not(:first-child) {
				border-bottom: 2px solid $Main-color-blue-dark;
				color: $Main-color-blue-dark;
			}
		}

		span.mixitup-control-active:not(:first-child) {
			border-bottom: 2px solid $Main-color-blue-dark;
		}

		span.mixitup-control-active {
			color: $Main-color-blue-dark;
		}
	}
}

.portfolio {
	position: relative;

	.portfolio-wrapper {
		overflow: hidden;
	}

	img {
		width: 100%;
		height: 35rem;
		position: relative;
		background-size: cover;
		background-position: center;
		overflow: hidden;
		top: 0;
		-webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
		transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
		backface-visibility: hidden;

		@media only screen and (min-width: 650px) {
			width: 40rem;
			height: 30rem;
		}
	}

	.label {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		transition: all 0.3s ease-in-out;
		z-index: 2;
		opacity: 0;

		&-text {
			&__name {
				font-weight: 700;
				font-size: 2.6rem;
				color: $Main-color-green-dark;
				letter-spacing: -.2rem;
			}

			&__tech {
				font-size: 1.6rem;
				color: $Main-color-blue-dark;
				font-weight: 100;
			}
		}
	}

	.button {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		border: 2px solid $Main-color-blue-dark;
		transition: all 0.3s ease-in-out;
		font-size: 1.6rem;
		margin: 0 auto;
		padding: .6rem 0;
		opacity: 0;
		width: 16rem;
		text-align: center;
		cursor: pointer;

		&:hover {
			background: $Main-color-blue-dark;
			color: #fff;
		}
	}

	&:hover {
		img {
			opacity: 0;
		}

		.label {
			opacity: 1;
			top: 25%;
		}

		.button {
			bottom: 25%;
			opacity: 1;
		}
	}
}

.modal-container {
	height: 100%;
	position: fixed;
	width: 100vw;
	z-index: 100;
	pointer-events: none;
	visibility: hidden;

	&__background {
		background: rgba(0, 0, 0, .5);
		height: 100%;
		left: 0;
		opacity: 0;
		top: 0;
		position: absolute;
		transition: opacity .5s;
		width: 100%;
	}

	&__modal {
		align-items: flex-start;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
		box-sizing: border-box;
		color: #333;
		height: 90%;
		opacity: 0;
		position: relative;
		text-align: left;
		transform: scale(0.8);
		transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

		overflow-y: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}

		h2 {
			margin-left: 1rem;
			text-transform: uppercase;
			font-size: 1.3rem;
			background-color: rgba(0, 0, 0, .2);
			color: #fff;
			display: inline-block;
			padding: .6rem;
			border-bottom: 1px solid rgba(0, 0, 0, .2);
			margin-bottom: 1rem;
			margin-top: 1rem;
		}

		.close-modal {
			position: fixed;
			top: 0;
			color: grey;
			cursor: pointer;
			font-size: 1.6rem;
			font-weight: 800;
			right: 0;
			background: white;
			padding: .2rem .5rem;
			z-index: 40;
			transition: all .2s ease;

			&:hover {
				background: #93291e;
				color: white;
			}
		}
	}

	&__information {
		border-top: 3px solid #1b242f;
		box-sizing: border-box;
		color: #444;
		padding: 15px 10px 25px 10px;
		position: relative;

		&--title {
			font-family: "Raleway-bold";
			font-size: 2.5rem;
			line-height: 20pt;
			margin-bottom: .5rem;
		}

		&--date {
			background-color: orange;
			padding: 0.3rem;
			color: rgba(255, 255, 255, .8);
			font-size: 1.2rem;
			border-radius: 1rem;
		}

		&--tag {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			color: #c0c0c0;
			font-family: "Raleway-bold";
			font-size: 1.6rem;
			font-weight: 300;
			padding-bottom: 15px;
		}

		&--detail {
			font-family: "Raleway";
			font-size: 9pt;
			line-height: 14pt;
			margin-top: 13px;
			width: 95%;
			text-align: justify;

			@media only screen and (min-width: 900px) {
				width: 680px;
			}
		}
	}

	&__link {
		position: absolute;
		right: 2rem;
		top: 1rem;

		&__website {
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
			padding: 1rem;
			background-color: $Main-color-blue-dark;

			&--icon {
				margin-right: 1rem;
			}

			&--tag {
				font-size: 1.1rem;
			}
		}
	}

	.modal-github-link {
		text-decoration: none;
		color: $Main-color-blue-dark;
		padding-left: 1.1rem;
	}

	&__code {
		width: 95%;
		margin: 0 auto;

		@media only screen and (min-width: 900px) {
			width: 680px;
		}

		&--title {
			font-size: 1.7rem;
			margin-bottom: 2rem;
		}

		&--description {
			color: rgba(0, 0, 0, .7);
			font-size: 1.1rem;
			text-align: justify;
		}

		img {
			max-width: 100%;
		}
	}

	.button {
		background: #e31b6d;
		border: 0;
		bottom: 20px;
		color: #fff;
		cursor: pointer;
		font-size: 10pt;
		font-weight: 600;
		left: 10px;
		padding: 11px 30px;
		pointer-events: none;
		position: absolute;
		transition: all 0.5s;
		visibility: hidden;
	}

	.button.visible {
		pointer-events: initial;
		visibility: visible;
	}

	.button:hover {
		background: #fff;
		color: #e31b6d;
	}
}

.modal-container.visible {
	pointer-events: initial;
	visibility: visible;
}

.modal-container.visible .modal-container__modal {
	opacity: 1;
	transform: scale(1);
}
.modal-container.visible .modal-container__background {
	opacity: 1;
}

.carousel-container {
	height: 250px;
	margin: 0 auto;
	position: relative;

	@media only screen and (min-width: 650px) {
		height: 550px;
	}

	&__window {
		background: #222;
		overflow: hidden;
		position: relative;
	}

	&__carousel {
		position: relative;
		top: 0;
		width: 10000px;
		box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
	}

	&__slide {
		cursor: pointer;
		display: block;
		flex-direction: column;
		float: left;
		height: 250px;
		justify-content: center;
		background-size: cover;

		@media only screen and (min-width: 650px) {
			height: 550px;
		}
	}

	&__previous,
	&__next {
		position: absolute;
		bottom: 0;
		cursor: pointer;
		background-color: rgba(0, 0, 0, .2);
		width: 6rem;
		height: 6rem;

		img {
			width: 3rem;
			margin: 0 auto;
			height: 100%;
			display: flex;
		}
	}

	&__previous {
		left: 0;
	}

	&__next {
		right: 0;
	}
}

.transition {
	transition: 0.7s;
}
