.planning {
	grid-column: void-left-end / void-right-start;
	position: relative;

	&--background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		background-color: rgba(58, 145, 127, .04);
	}

	&--image {
		position: absolute;
		top: 9%;

		img {
			width: 23rem;
			height: 17rem;
		}

		&-1 {
			top: 12%;

			img {
				width: 16rem;
				height: 14rem;
			}
		}
	}

	&--bottom {
		background-color: #44a08d;
		padding: 2rem;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: .1rem;

		a:link,
		a:visited {
			color: #093637;
			text-decoration: none;

			&:hover {
				color: #fff;
			}
		}
	}

	&__container {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
		grid-auto-rows: 1fr;
		margin: 0 auto;

		&__element {
			background-color: #fff;
			margin: 2rem;
			display: grid;
			grid-template-rows: 1.5fr 4fr min-content;
			grid-template-columns: 1fr;
			position: relative;
			box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .1);

			&--title {
				background-color: #093637;
				color: #fff;
				text-transform: uppercase;
				font-size: 2rem;
				display: flex;
				justify-content: center;
				padding-top: 2rem;
			}

			&--reasons {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 7rem;

				ul {
					list-style: none;
					text-align: center;

					li {
						padding: 2rem;
						text-transform: uppercase;
						color: rgba(0, 0, 0, .6);

						&:not(:last-child) {
							border-bottom: 1px solid rgba(0, 0, 0, .1);
						}
					}
				}
			}
		}
	}
}
