.projects {
	grid-column: void-left-end / void-right-start;

	position: relative;
	margin: 0 auto;
	width: 50%;

	&__project {
		width: 200px;
		height: 200px;
		box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
		border-radius: 2px;
		position: absolute;
		z-index: 1;
		transition: all .7s ease;

		&--1 {
			left: 0;
			background-color: yellow;
		}

		&--2 {
			left: 2rem;
			background-color: red;
		}

		&--3 {
			left: 4rem;
			background-color: blue;
		}

		&--4 {
			left: 6rem;
			background-color: green;
		}

		&:hover {
			outline: 1.5rem solid white;
			transform: scale(3) translateX(5rem);
			box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5);
			z-index: 20;
		}
	}
}
