.projects {
	grid-row: 3 / 4;
	grid-column: 1 / -1;

	&__name {
		font-size: 2.2rem;
		font-weight: 500;
		text-align: center;
		margin-bottom: 5rem;
		vertical-align: middle;

		span {
			font-size: 6rem;
			vertical-align: middle;
			color: #093637;
			opacity: .7;
		}
	}

	&__container {
		padding: 3rem;
		position: relative;
		margin-bottom: 5rem;
	}

	&__project {
		position: relative;
		display: flex;
		justify-content: center;
		background-color: white;

		.hide {
			display: none;
		}

		.show {
			display: block;
			animation: slide .2s ease-in both;
		}

		&__details {
			position: fixed;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: 1rem 1rem 10rem rgba(0, 0, 0, .8);
			background-color: white;
			z-index: 50;
			width: 60vw;
			height: 85vh;

			&--overview {
				.project-overview {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					font-size: 1.2rem;
					color: rgba(0, 0, 0, .7);

					&--title {
						font-size: 1.7rem;
						font-weight: 200;
						color: rgba(0, 0, 0, .9);
					}

					&--description {
						text-align: center;
						width: 80%;
						margin: 2rem;
					}

					&--date {
						box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .1);
						padding: 1rem;
						color: rgba(0, 0, 0, .7);
					}

					&--view {
						background-color: #093637;
						padding: 1rem;
						margin: 1rem auto;
						text-decoration: none;
						color: #fff;
						text-transform: uppercase;
						transition: all .2s ease;

						&:hover,
						&:focus {
							background-color: #fff;
							color: #093637;
							box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .1);
						}
					}

					&--technologies {
						display: grid;
						grid-template-columns: repeat(3, 1fr);
						justify-items: center;
						width: 100%;
						margin: 5rem;

						span {
							color: orange;
						}
					}
				}
			}

			&--challenges {
				.project-challenges {
					width: 80%;
					margin: 2rem auto;

					&__challenge {
						margin: 2rem;

						&--title {
							font-weight: 500;
							font-size: 2.4rem;
						}

						&--paragraph {
							color: rgba(0, 0, 0, .7);
							text-align: justify;
						}
					}
				}
			}

			&--photos {
				.project-photos {
					width: 100%;
					height: 85%;
					position: relative;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						background-size: cover;
						animation: fadeInRight 1s;
					}
				}

				.arrow {
					position: absolute;
					bottom: 0;
					padding: 1rem;
					color: rgba(0, 0, 0, .7);
					background-color: #2193b0;
					cursor: pointer;
					user-select: none;
					width: 9rem;
					height: 9rem;
					fill: white;
					z-index: 2;
				}

				.leftarrow {
					left: 0;
				}

				.rightarrow {
					right: 0;
				}

				.image-on {
					display: block;
				}

				.image-off {
					display: none;
					animation: fadeOutLeft 1s;
				}
			}

			&--code {
				.project-code {
					height: 85%;
					overflow-y: scroll;

					&__photo {
						margin: 2rem;

						&--title {
							font-size: 1.7rem;
							margin-bottom: 2rem;
						}

						&--description {
							color: rgba(0, 0, 0, .7);
						}

						img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}

			.close {
				position: absolute;
				bottom: 0;
				right: 0;
				font-size: 1.6rem;
				padding: .2rem 1rem;
				z-index: 5;
				background-color: red;
				color: white;
				cursor: pointer;

				&:hover,
				&:focus {
					color: rgba(255, 255, 255, .8);
				}
			}

			.tabs {
				display: flex;
				justify-content: space-around;
				position: relative;
				overflow: hidden;
				height: 5rem;

				& > * {
					display: flex;
					align-items: center;
					background: #2193b0;
					font-size: 16px;
					text-align: center;
					line-height: 60px;
					font-size: 1.2rem;
					width: 100%;
					justify-content: center;
					color: #fff;
					text-transform: uppercase;
					cursor: pointer;
					text-decoration: none;

					&:hover,
					&:focus {
						color: rgba(255, 255, 255, .9);
					}
				}

				.slider {
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 25%;
					height: 5px;
					background: #6dd5ed;
					transition: all 0.5s;
				}

				.ripple {
					width: 0;
					height: 0;
					top: 0;
					border-radius: 50%;
					background: rgba(255, 255, 255, 0.4);
					transform: scale(0);
					position: absolute;
					opacity: 1;
				}

				.rippleEffect {
					animation: rippleDrop .6s linear;
				}

				@keyframes rippleDrop {
					100% {
						transform: scale(2);
						opacity: 0;
					}
				}
			}

			.tab-visible {
				position: absolute;
				top: 10%;
				left: 0;
				width: 100%;
				height: 100%;
				visibility: visible;
				opacity: 1;
				animation: fadeIn 1s;
			}

			.tab-invisible {
				visibility: hidden;
				opacity: 0;
			}
		}

		&__element {
			width: 55rem;
			height: 40rem;
			align-self: center;
			position: relative;

			&:hover,
			&:focus {
				.project-link {
					opacity: 1;
					visibility: visible;

					.mask {
						animation: fadeInLeftBig .5s;
					}

					.show-project {
						bottom: 40%;
					}
				}
			}

			img {
				width: 100%;
				height: 100%;
			}

			.project-link {
				position: absolute;
				z-index: 5;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				overflow: hidden;

				.mask {
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(255, 255, 255, .9);
					z-index: 10;
				}

				.show-project {
					position: absolute;
					padding: 1.3rem;
					bottom: 0;
					left: 50%;
					transform: translate(-50%);
					cursor: pointer;
					z-index: 11;
					background-color: #093637;
					text-transform: uppercase;
					font-size: 1.6rem;
					color: white;
					transition: all .4s, bottom .2s ease-in .5s, visibility .2s ease-in .5s, opacity .2s ease-in .5s;
					border: 1px solid transparent;

					&:hover {
						background-color: white;
						color: #093637;
						border: 1px solid #093637;
					}
				}
			}
		}

		&__features {
			width: 55rem;
			height: 40rem;
			&--container {
				display: grid;
				grid-template-rows: 10fr;
				position: relative;

				.feature-main {
					position: absolute;
					text-transform: uppercase;

					font-size: 2rem;
					background-color: #093637;
					color: #fff;
					width: 15rem;
					height: 4rem;
					text-align: center;
					z-index: 10;
					top: 18%;
					left: -8.5rem;
					transform: rotate(-90deg);

					&:after {
						background-color: rgba(9, 54, 55, .85);
						content: "";
						width: 2rem;
						height: 3rem;
						top: 0%;
						position: absolute;
						left: -13%;
						clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
					}
				}

				.feature-elements {
					width: 100%;
					height: 100%;
					box-shadow: .1rem .1rem 2.4rem rgba(0, 0, 0, .1);

					.tick-icon {
						position: absolute;
						top: 50%;
						right: 2%;
						transform: translateY(-50%);
						width: 3rem;
						height: 3rem;
						fill: #44a08d;
						opacity: .8;
					}

					.feature {
						background-color: white;
						box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, .1);
						padding: 1.6rem;
						position: relative;
						color: rgba(0, 0, 0, .8);
						font-size: 1.6rem;
						font-weight: 200;

						&:nth-of-type(2n) {
							background-color: rgba(9, 54, 55, .017);
						}
					}
				}
			}
		}
	}
}
