.technologies {
	grid-column: void-left-end / void-right-start;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	width: 55%;
	height: 70%;
	margin: auto auto;
	transition: all .4s ease;
	align-items: center;
	justify-items: center;
	transition: 1s;

	font-size: 3rem;
	text-align: center;

	& > * {
		border-radius: 5px;
		box-shadow: 0.1rem 0.1rem 1rem rgba(156, 13, 13, 0.2);
		padding: 1rem;
	}

	.mainElement {
		background-color: rgba(36, 3, 78, 0.8);
		color: #fff;
		align-self: center;
		text-align: center;
		font-size: 4rem;
		padding: 1rem;
		text-transform: uppercase;
		transition: all .3s ease;
		margin: 5rem;
		clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

		&:hover {
			transform: scale(1.2);
		}
	}
}

.technologies:hover > *:not(:nth-child(13)) {
	animation: OpacityScale 1s ease;
}
