.technologies {
	grid-column: void-left-end / void-right-start;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	width: 55%;
	height: 70%;
	margin: auto auto;
	transition: all .4s ease;
	align-items: center;
	justify-items: center;

	font-size: 3rem;
	text-align: center;

	& > * {
		border-radius: 5px;
		box-shadow: 0.1rem 0.1rem 1rem rgba(156, 13, 13, 0.2);
		padding: 1rem;
	}

	.term-2 {
	}

	.mainElement {
		background: url("assets/images/samplephoto.jpg");
		background-size: cover;
		color: #fff;
		align-self: center;
		text-align: center;
		font-size: 4rem;
		width: 10rem;
		height: 10rem;
		text-transform: uppercase;
		transition: all .7s ease;
		margin: 5rem;
		border-radius: 20%;

		&:hover {
			transform: scale(1.6);
		}
	}
}
