.footer {
	position: relative;
	background: linear-gradient(to top, $Main-color-blue-dark, $Main-color-blue-light);
	clip-path: polygon(0% 0%, 38% 5%, 50% 20%, 62% 5%, 100% 0%, 100% 100%, 0% 100%);

	&__back {
		transform: rotate(90deg);
		margin: 4rem;
		margin-top: 20rem;

		a {
			text-decoration: none;
			animation: float 3s ease-out infinite;

			.large {
				font-size: 5rem;
				color: rgba(255, 255, 255, .9);
			}

			.medium {
				font-size: 4rem;
				color: rgba(255, 255, 255, .7);
			}

			.small {
				font-size: 3rem;
				color: rgba(255, 255, 255, .5);
			}
		}
	}

	&__copyright {
		font-size: 2.2rem;
		letter-spacing: -.1rem;
		color: rgba(255, 255, 255, .4);
		margin-bottom: 2rem;
		font-weight: 300;

		span {
			color: #fff;
			font-weight: 100;
		}
	}
}
