.header {
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color: white;

	&__checkbox {
		position: absolute;
		z-index: 12;
		top: 0;
		left: 0;
	}

	&__checkbox {
		display: none;
	}

	&__checkbox:checked ~ &__navigation ul {
		opacity: 1;
		height: 50vh;
		visibility: visible;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(135deg);
	}

	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}

	&__button {
		height: 8vh;
		width: 8rem;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 13;
		text-align: center;
		cursor: pointer;

		@media only screen and (min-width: 650px) {
			display: none;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&,
		&::before,
		&::after {
			width: 75%;
			height: .5rem;
			background-color: white;
			display: inline-block;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all .3s;
		}

		&::before {
			top: -1.2rem;
		}

		&::after {
			top: 1.2rem;
		}
	}

	&__personal-links {
		position: absolute;
		top: 0;
		right: 0;
		width: 15rem;
		height: 10rem;

		a {
			img {
				width: 10rem;
				height: 5rem;
			}
		}
	}

	.reveal-fixed-navbar {
		@media only screen and (min-width: 650px) {
			position: fixed;
			top: 0;
			animation: fadeInDown 1s;
		}
	}

	&__navigation {
		border-bottom: 3px solid $Main-color-green-light;
		height: 8vh;
		position: fixed;
		background: $Main-color-green-dark;
		bottom: 92vh;
		left: 0;
		z-index: 11;
		font-weight: 100;
		font-family: 'Raleway', sans-serif;
		width: 100%;

		@media only screen and (min-width: 650px) {
			position: absolute;
			bottom: -8vh;
			height: 8vh;
		}

		ul {
			opacity: 0;
			height: 0;
			width: 100%;
			background: $Main-color-green-dark;
			position: absolute;
			z-index: 50;
			top: 8rem;
			display: flex;
			flex-direction: column;
			transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			visibility: hidden;

			@media only screen and (min-width: 650px) {
				visibility: visible;
				transition: none;
				top: 0;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				height: 100%;
				list-style: none;
				width: 80%;
				opacity: 1;
			}

			.active {
				a {
					color: $Main-color-blue-light !important;
				}

				.getintouch-button {
					color: white !important;
				}
			}

			li:not(:last-child) {
				font-size: 1.8rem;
				text-transform: uppercase;
				width: 100%;
				padding: 2rem;
				height: 100%;
				display: flex;
				justify-content: space-evenly;
				align-items: center;

				@media only screen and (min-width: 650px) {
					font-size: .9rem;
					padding: 0;
				}

				@media only screen and (min-width: 900px) {
					font-size: 1.1rem;
				}

				@media only screen and (min-width: 1200px) {
					font-size: 1.3rem;
					width: 50%;
				}

				a {
					text-decoration: none;
					color: #fff;
					transition: all .1s ease;
					text-shadow: .1rem .1rem 2rem rgba(255, 255, 255, .2);

					&:hover,
					&:focus {
						color: $Main-color-blue-light;
					}
				}
			}

			li:last-child {
				width: 100%;
				display: flex;
				justify-content: center;
				padding-bottom: 1rem;

				@media only screen and (min-width: 650px) {
					display: block;
					padding-bottom: 0;
					position: absolute;
					right: -16rem;
					width: 15rem;
				}

				@media only screen and (min-width: 900px) {
					right: -22rem;
					width: 17rem;
				}

				@media only screen and (min-width: 1200px) {
					right: -25rem;
					width: 17rem;
				}
			}
		}
	}

	&__main-background {
		height: 65%;
		width: 80%;
		top: 33%;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		background: url("assets/images/bg-images/main.png") no-repeat;
		background-position: center;
		background-size: contain;
		z-index: 1;

		@media only screen and (min-width: 650px) {
			width: 80%;
			height: 75%;
			top: 10%;
		}

		@media only screen and (min-width: 900px) {
			width: 100%;
			height: 85%;
			top: 10%;
		}
	}

	&__sub-background {
		background: linear-gradient(to right, $Main-color-blue-dark, $Main-color-blue-light);
		bottom: 0;
		left: 0;
		height: 14%;
		width: 100%;
		z-index: 2;
		position: absolute;

		@media only screen and (min-width: 650px) {
			height: 25%;
			clip-path: polygon(0% 0%, 100% 70%, 100% 100%, 0% 100%);
		}
	}

	&__white-sub-background {
		display: block;
		position: absolute;
		width: 88%;
		bottom: 8%;
		left: 3rem;
		height: 45%;
		z-index: 3;
		background: linear-gradient(to top, white 14%, transparent 15%);
		box-shadow: 0.9rem 1.1rem 1rem rgba(0, 0, 0, .1);
		border-bottom-left-radius: 5rem;
		border-bottom-right-radius: 5rem;

		@media only screen and (min-width: 650px) {
			width: 81%;
			bottom: 13%;
			transform: rotate(6deg);
			background: linear-gradient(to top, white 16%, transparent 17%);
		}
	}

	&__centertext {
		position: absolute;
		top: 8%;
		z-index: 3;
		left: 0;
		text-align: left;
		margin-left: 5%;
		padding: 2rem;
		line-height: 10rem;

		@media only screen and (min-width: 650px) {
			top: 0.5rem;
			margin-left: .5rem;
		}

		@media only screen and (min-width: 1200px) {
			top: 20%;
			margin-left: 5%;
		}

		&--main {
			font-family: 'Raleway', sans-serif;
			margin-right: 3rem;
			vertical-align: middle;
			font-size: 2.5rem;
			line-height: 3.2rem;
			font-weight: 800;
			letter-spacing: -.1rem;
			color: $Main-color-green-dark;
			padding-right: .2rem;
			text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);

			@media only screen and (min-width: 650px) {
				font-size: 2.8rem;
				letter-spacing: -.2rem;
			}

			@media only screen and (min-width: 900px) {
				font-size: 3.1rem;
				letter-spacing: -.2rem;
			}

			span {
				color: $Main-color-green-light;
			}

			div {
				margin-top: 1rem;
				margin-bottom: 2rem;
			}

			.signature {
				font-size: 3.5rem;
				font-family: 'Dancing Script', sans-serif;

				@media only screen and (min-width: 650px) {
					font-size: 4.2rem;
				}
			}
		}
	}

	&__viewmywork {
		display: flex;
		margin: 5rem auto;
		font-family: 'Raleway', sans-serif;
		position: absolute;
		left: 0;
		margin-left: 5%;
		padding: 2rem;
		top: 20%;
		z-index: 10;

		@media only screen and (min-width: 650px) {
			flex-direction: column;
			margin-left: .5rem;
			top: 16%;
		}

		@media only screen and (min-width: 1200px) {
			top: 35%;
			flex-direction: row;
			margin-left: 5%;
		}

		&--view {
			display: flex;
			margin-right: 1rem;
			font-size: 1.5rem;
			padding: 1rem 2rem;
			text-align: center;

			background-color: transparent;
			color: $Main-color-green-dark;
			border: 3px solid $Main-color-green-dark;
			border-radius: .3rem;
			-webkit-font-smoothing: antialiased;

			cursor: pointer;
			font-weight: 700;
			transition: all .5s ease, color 0s ease;
			box-shadow: .1rem .1rem 1rem rgba($Main-color-green-dark, .4);
			text-decoration: none;

			@media only screen and (min-width: 650px) {
				margin-bottom: 1rem;
			}

			@media only screen and (min-width: 900px) {
				font-size: 2rem;
			}

			&:hover,
			&:focus {
				background-color: $Main-color-green-dark;
				color: rgba(255, 255, 255, .9);
				border: 3px solid transparent;

				span {
					transform: rotate(90deg);
				}
			}

			&:focus {
				outline: none;
			}

			span {
				width: 3rem;
				height: 3rem;
				margin-left: 1rem;
				transition: all .3s ease;
				background-color: white;
				border-radius: 50%;

				img {
					width: 3rem;
					height: 3rem;
				}
			}
		}
	}
}
