.header {
	grid-row: 1 / 2;
	grid-column: 1 / -1;
	position: relative;
	background-color: white;

	&__navigation-elements {
		position: absolute;
		z-index: 5;
		bottom: 7%;
		display: flex;

		&__element {
			display: grid;
			grid-template-rows: min-content 1fr;
			grid-template-columns: 1fr;
			align-items: center;
			justify-items: center;
			backface-visibility: hidden;

			& > a {
				grid-row: 2 / 3;
				z-index: 10;
				border-radius: 50%;
				box-shadow: .3rem .3rem 1rem rgba(255, 255, 255, .3);
				transition: all .4s ease;
				position: relative;

				.white-bg-circle {
					position: absolute;
					width: 13rem;
					height: 13rem;
					background-color: white;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					border-radius: 50%;
					z-index: -1;
				}

				.header__navigation-elements__element--circle {
					border-radius: 50%;
					transition: all .4s ease;
					width: 10rem;
					height: 10rem;
				}

				&:hover {
					box-shadow: .3rem .3rem 16rem rgba(255, 255, 255, 1);

					.header__navigation-elements__element--circle {
						opacity: 1;
						transform: scale(1.9);
					}

					& + .header__navigation-elements__element--paragraph {
						opacity: 1;
						visibility: visible;
						transform: translateY(0);
					}
				}
			}

			& > &--paragraph {
				height: 8rem;
				z-index: 10;
				color: rgba(0, 0, 0, .7);
				text-align: center;
				margin-top: 3rem;
				padding: 0 3rem;
				opacity: 0;
				visibility: hidden;
				transform: translateY(-100rem);
				transition: all .4s ease;
				overflow: hidden;
			}

			&--circle {
				display: flex;
				justify-content: center;
				align-items: center;

				.navigation__icon {
					width: 50%;
					height: 50%;
					fill: rgba(247, 245, 245, 1);
				}

				&-1,
				&-2,
				&-3,
				&-4 {
					background: rgba(0, 0, 0, .4);
				}

				&-5 {
					background: #093637;
					animation-delay: 1.2s;
				}
			}
		}
	}

	.reveal-fixed-navbar {
		opacity: 1;
		visibility: visible;
		position: fixed;
		z-index: 20;
		background: #093637;
		animation: SlideInFromTop 1s ease;
	}

	&__navigation {
		border-bottom: 3px solid #44a08d;
		height: 8vh;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		font-weight: 100;

		ul {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			height: 100%;
			list-style: none;

			.active {
				a {
					color: #e65c00;
				}
			}

			li {
				font-size: 1.3rem;
				text-transform: uppercase;
				width: 50%;
				height: 100%;
				display: flex;
				justify-content: space-evenly;
				align-items: center;

				a {
					text-decoration: none;
					color: #fff;
					transition: all .1s ease;
					text-shadow: .1rem .1rem 2rem rgba(255, 255, 255, .2);

					&:hover,
					&:focus {
						color: #e65c00;
					}
				}
			}
		}
	}

	&__main {
		height: 85%;
		width: 100%;
		top: 10%;
		position: absolute;
		background: url("assets/images/bg-images/big2.png") no-repeat;
		background-position: center;
		background-size: contain;
		z-index: 1;
	}

	&__bg {
		position: absolute;
		width: 100%;
		bottom: 5%;
		left: 0;
		height: 20%;
		background: linear-gradient(to right, #2193b0, #6dd5ed);
		z-index: 2;
		clip-path: polygon(0% 10%, 100% 100%, 0% 100%);
	}

	&__central-bg-light {
		position: absolute;
		width: 72%;
		bottom: 13%;
		left: 3%;
		height: 45%;
		z-index: 3;
		background: linear-gradient(to top, white 9%, transparent 58%);
		transform: rotate(6deg);
		box-shadow: 0.9rem 1.1rem 1rem rgba(0, 0, 0, .1);
		border-bottom-left-radius: 5rem;
		border-bottom-right-radius: 5rem;
	}

	&__centertext {
		font-family: 'Londrina Solid', cursive;
		position: absolute;
		top: 20%;
		z-index: 3;
		left: 0;
		text-align: left;
		margin-left: 5%;
		padding: 2rem;
		color: rgba(0, 0, 0, .7);
		font-weight: 200;
		font-size: 2.5rem;
		line-height: 10rem;

		&--left-bracket {
			font-size: 3rem;
			text-align: left;

			.function {
				color: rgba(75, 3, 57, .8);
			}

			.function-name {
				color: rgba(7, 7, 102, 0.8);
			}
		}

		&--right-bracket {
			font-size: 3rem;
			text-align: center;
			text-align: left;
		}

		.small {
			font-size: 2rem;
			font-style: italic;
		}

		.bracket {
			color: rgba(108, 119, 8, 0.8);
			vertical-align: middle;
			font-size: 4rem;
		}

		.console {
			color: #e65c00;
			vertical-align: middle;
		}

		.log {
			color: #093637;
			vertical-align: middle;
		}

		&--main {
			font-size: 2rem;
			.main-message {
				font-family: 'Dancing Script', cursive;
				margin-right: 3rem;
				vertical-align: middle;
				font-size: 4rem;
				font-weight: 700;
				letter-spacing: -2px;
				color: #093637;
				padding-right: .2rem;
				text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
			}
		}
	}

	&__viewmywork {
		margin: 5rem auto;
		font-family: 'Montserrat Alternates', sans-serif;
		position: absolute;
		left: 0;
		margin-left: 5%;
		padding: 2rem;
		top: 30%;
		z-index: 4;

		&--view {
			display: flex;
			margin: 0 auto;
			font-size: 1.5rem;
			padding: 1rem 3rem;
			text-align: center;
			background-color: rgba(9, 54, 55, .9);
			color: rgba(255, 255, 255, .9);
			border: 1px solid rgba(9, 54, 55, .2);
			cursor: pointer;
			font-weight: 400;
			transition: all .2s ease;
			box-shadow: .1rem .1rem 1rem rgba(9, 54, 55, .4);
			text-decoration: none;

			&:hover,
			&:focus {
				background-color: transparent;
				color: rgba(9, 54, 55, .9);
				border: 1px solid rgba(9, 54, 55, 1);
			}

			&:focus {
				outline: none;
			}
		}
	}
}
