.header {
	grid-column: void-left-end / void-right-start;

	.bg-circle {
		width: 80%;
		height: 80%;
		background-color: black;
		position: absolute;
		top: -50%;
		left: 50%;
		transform: translate(-50%);
		z-index: -1;
		clip-path: circle(50% at 50% 50%);
	}

	&__content {
		display: grid;
		grid-template-rows: repeat(2, minmax(32rem, 1fr));
		align-items: center;
		justify-items: center;

		&__headers {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			text-transform: uppercase;

			&--name {
				font-size: 4rem;
				color: rgba(138, 172, 59, 0.9);
				font-weight: 300;

				@mixin atLarge {
					font-size: 10rem;
					animation: moveInLeft 1s ease-out;
				}
			}

			&--title {
				color: rgba(131, 165, 51, 0.6);
			}
		}

		&__iconset {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			list-style: none;

			@mixin atLarge {
				grid-template-columns: repeat(6, 1fr);
			}

			li {
				background-color: rgba(138, 172, 59, 0.7);
				min-height: 4rem;
				line-height: 2rem;
				margin: 1rem;
				padding: 2rem;
				display: flex;
				flex-direction: column;
				transform: scale(1);
				transition: all .3s ease-in;
				cursor: pointer;
				border-radius: 2px;
				border: 1px solid rgba(0, 0, 0, .2);
				box-shadow: .2rem .2rem rgba(0, 0, 0, .1);
				text-align: center;

				@mixin atLarge {
					padding: 6rem;
				}

				&:hover {
					transform: scale(1.2);
					background-color: rgba(138, 172, 59, 1) !important;
				}

				&:hover > svg {
					transform: scale(1.4);
				}

				&:hover > span {
					transform: scale(1.4);
				}
			}

			&__icon {
				opacity: 1;
				width: 4.5rem;
				height: 4.5rem;
				fill: rgba(4, 70, 20, 0.9);
			}

			span {
				color: rgba(255, 255, 255, .5);
				margin-top: .3rem;
			}
		}
	}
}
