@keyframes FadeIn {
	0% {
		opacity: 0;
		transform: scale(0.98);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes SlideInFromRight {
	0% {
		transform: translateX(100rem);
		opacity: 0;
	}

	70% {
		opacity: 1;
	}

	95% {
		transform: rotateY(70deg);
	}

	100% {
		transform: rotateY(0);
	}
}

@keyframes SlideInFromLeft {
	0% {
		transform: translateX(-100rem);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes MoveDownSlowly {
	0% {
		transform: translateY(-3rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes LoadFromLeft {
	0% {
		width: 0;
	}

	100% {
		width: 30%;
	}
}

@keyframes LoadFromRight {
	0% {
		width: 0;
	}

	100% {
		width: 50%;
	}
}

@keyframes slide {
	from {
		height: 0;
	}
	to {
		height: 85vh;
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(300px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes floatRight {
	50% {
		transform: translate(.4rem, 0);
	}
}

@keyframes floatLeft {
	50% {
		transform: translate(-.4rem, 0);
	}
}

@keyframes float {
	50% {
		transform: translateX(2rem);
	}
}

@keyframes rippleDrop {
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
