.section__title {
	font-size: 3rem;
	border-bottom: 2px dashed rgba(9, 54, 55, .05);
	color: rgba(9, 54, 55, .9);
	width: 20%;
	margin: auto;
	margin-bottom: 10rem;
	text-align: center;
	padding: 2rem;
	font-weight: 400;
	font-family: 'Montserrat Alternates', sans-serif;
}

.section-icon {
	margin: 1rem auto;
	margin-top: 4rem;
	width: 10rem;
	height: 10rem;

	svg {
		width: 10rem;
		height: 10rem;
		fill: rgba(58, 145, 127, .84);
		animation: ScaleOutandIn 1s linear infinite;
	}
}

.reveal-section-animation {
	animation: SlideInFromLeft 1s linear;
}
