.section__title {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 2rem;
	border-bottom: 2px dashed rgba(9, 54, 55, .05);
	color: rgba(9, 54, 55, .9);
	width: 80%;
	margin: auto;
	margin-bottom: 2rem;
	text-align: center;
	font-weight: 200;
	padding: 2rem;

	@media only screen and (min-width: 900px) {
		width: 60%;
		font-size: 3rem;
	}

	@media only screen and (min-width: 1200px) {
		width: 30%;
	}
}

.section__description {
	display: flex;
	font-family: 'Montserrat Alternates', sans-serif;
	align-items: center;
	font-size: 1.4rem;
	color: rgba(0, 0, 0, .7);
	width: 100%;
	height: 25rem;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 5rem;
	text-align: center;
	padding: 2rem;
	font-weight: 400;
	position: relative;

	@media only screen and (min-width: 900px) {
		margin-top: 5rem;
		height: 40rem;
	}

	&--paragraph {
		position: absolute;
		top: 10rem;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		width: 90%;

		@media only screen and (min-width: 900px) {
			width: 50%;
		}
	}

	&--bg {
		display: none;

		@media only screen and (min-width: 900px) {
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100%;
			z-index: 1;
			background: url("assets/images/desc-bg.png") no-repeat;
			background-size: contain;
		}
	}
}

.section-icon {
	margin: 1rem auto;
	margin-top: 7rem;
	width: 10rem;
	height: 10rem;

	@media only screen and (min-width: 900px) {
		margin-top: 11rem;
	}

	img {
		width: 10rem;
		height: 10rem;
		animation: pulse 1s linear infinite;
	}
}

.reveal-section-animation {
	animation: SlideInFromLeft 1s linear;
}

.getintouch-button {
	font-family: 'Raleway', sans-serif;
	padding: 1rem;
	background-color: $Main-color-blue-light;
	border-radius: .3rem;
	font-size: 1.5rem;
	border: none;
	color: white;
	cursor: pointer;
	height: 7rem;
	text-decoration: none;
	animation: floatLeft 3s ease-out infinite;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	padding-bottom: 2rem;

	@media only screen and (min-width: 650px) {
		font-size: 1.1rem;
		padding-top: .4rem;
		padding-bottom: .4rem;
		width: 15rem;
	}

	@media only screen and (min-width: 900px) {
		font-size: 1.5rem;
		width: 17rem;
		height: 9vh;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		color: white !important;

		span {
			img {
				transform: scale(1.2);
			}
		}
	}

	span {
		width: 4rem;
		height: 3rem;
		margin-left: 1rem;
		margin-right: 1rem;
		padding-right: 2rem;
		transition: all .5s ease;
		border-right: 1px solid white;

		img {
			width: 3rem;
			height: 3rem;
			transition: all .5s ease;
		}
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;

	&-column {
		flex-direction: column;
	}
}
