.vertical {
	background-color: rgba(6, 75, 6, 0.3);

	&__left {
		grid-column: void-left-start / void-left-end;
		grid-row: 1 / -1;
		border-right: .7px solid rgba(52, 204, 52, 0.6);
	}

	&__right {
		grid-column: void-right-start / void-right-end;
		grid-row: 1 / -1;
		border-left: .7px solid rgba(52, 204, 52, 0.5);
	}
}
