.header {
	grid-column: void-left-end / void-right-start;
	background-image: linear-gradient(rgba(0, 255, 0, .2), rgba(0, 255, 0, .6)), url(../images/bg-xlarge.jpg);
	background-size: cover;
	background-position: center;
	filter: sepia(.3);
}
