*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #000; }

.container {
  display: grid;
  grid-template-rows: repeat(7, 100vh);
  grid-template-columns: [void-left-end] repeat(7, [pages-start] minmax(min-content, 1fr) [pages-end]) [void-right-start]; }

.aboutMe {
  grid-column: void-left-end / void-right-start; }

.courses {
  grid-column: void-left-end / void-right-start;
  background-color: yellow; }

.getInTouch {
  grid-column: void-left-end / void-right-start;
  background-color: green; }

.projects {
  grid-column: void-left-end / void-right-start;
  background-color: blue; }

.technologies {
  grid-column: void-left-end / void-right-start;
  background-color: orange; }

.sideBar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  background-color: #114d09; }

.vertical {
  background-color: rgba(6, 75, 6, 0.3); }
  .vertical__left {
    grid-column: void-left-start / void-left-end;
    grid-row: 1 / -1;
    border-right: 0.7px solid rgba(52, 204, 52, 0.6); }
  .vertical__right {
    grid-column: void-right-start / void-right-end;
    grid-row: 1 / -1;
    border-left: 0.7px solid rgba(52, 204, 52, 0.5); }

.header {
  grid-column: void-left-end / void-right-start;
  background: linear-gradient(to right bottom, rgba(245, 240, 240, 0.7), rgba(245, 240, 240, 0.7)), #ffa949 url("../images/4.jpg") no-repeat center;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center; }
  .header__horizontal-line-left {
    grid-column: 1 / 2;
    align-self: center;
    background-color: #fff;
    height: 6px; }
  .header__horizontal-line-right {
    grid-column: 3 / 4;
    align-self: center;
    background-color: #fff;
    height: 6px; }
  .header__content {
    grid-column: 2 / 3;
    margin: 3rem;
    background-color: rgba(252, 248, 248, 0.5);
    border: 0.3px solid rgba(122, 117, 117, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10rem;
    height: 50%;
    position: relative; }
    .header__content__titles {
      width: 70%;
      height: 27%;
      position: absolute;
      top: -5rem;
      left: 50%;
      transform: translate(-50%);
      display: grid;
      grid-template-columns: 1fr 2fr 1fr; }
      .header__content__titles--left-chevron {
        background-color: rgba(6, 78, 36, 0.7);
        grid-column: 1 / 2;
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); }
      .header__content__titles--right-chevron {
        background-color: rgba(6, 78, 36, 0.7);
        grid-column: 3 / 4;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); }
      .header__content__titles--names {
        border-top: 1px solid rgba(6, 78, 36, 0.5);
        border-bottom: 1px solid rgba(6, 78, 36, 0.5);
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center; }
      .header__content__titles h1 {
        text-transform: uppercase;
        color: rgba(6, 78, 36, 0.7);
        font-weight: 400;
        font-size: 2.25rem; }
      .header__content__titles h3 {
        text-transform: uppercase;
        color: rgba(6, 78, 36, 0.7);
        font-weight: 400;
        font-size: 1.25rem; }
    .header__content__icon {
      opacity: .8;
      width: 4.5rem;
      height: 4.5rem;
      fill: rgba(9, 66, 9, 0.5);
      transition: all .2s ease-in;
      position: relative; }
      .header__content__icon:hover {
        opacity: 1;
        width: 6.5rem;
        height: 6.5rem; }
      .header__content__icon--text {
        color: transparent;
        font-size: 2rem;
        position: absolute;
        top: 30rem;
        background-color: rgba(35, 122, 18, 0.863);
        border-radius: 5px;
        padding: 5px;
        visibility: hidden;
        transition: all .2s; }
    .header__content__iconset .header__content__icon:hover + span {
      top: 23rem;
      transform: translate(-6rem);
      color: rgba(219, 233, 224, 0.9);
      visibility: visible; }
    .header__content ul {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      list-style: none;
      text-transform: uppercase;
      font-size: 4rem;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 1rem; }

.footer {
  grid-column: void-left-end / void-right-start;
  background-color: pink; }
